body { box-sizing: border-box; }

/* * * * * * * * * * * * * * * * * * *
 *
 *  Wrapper
 *
 * * * * * * * * * * * * * * * * * * */

.wrapper {
  width: 100%;
  position: relative;
  margin-top: -1px;
  font-size: 1rem;
  line-height: 1.25rem;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6,
.wrapper p,
.wrapper ul,
.wrapper li { margin: 0; padding: 0; }
.wrapper * { box-sizing: border-box; }

/* * * * * * * * * * * * * * * * * * *
 *
 *  Home layout
 *
 * * * * * * * * * * * * * * * * * * */

#home .home__content {
  max-width: 66rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#home .home__left-content {
  width: calc(7 * 100% / 12);
  padding: 0 0.625rem;
  margin-left: calc(1 * 100% / 12);
  flex-grow: 0;
  flex-shrink: 0;
}

#home .home__right-content {
  width: calc(4 * 100% / 12);
  padding: 0 0.625rem;
  flex-grow: 0;
  flex-shrink: 0;
}

#home .home__wide-content {
  width: 100%;
  padding: 0 0.625rem;
  flex-grow: 0;
  flex-shrink: 0;
}

#home .home__right-on-top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#home > .cover-picture {
  max-width: 100%;
  margin: 0;
  margin-bottom: 2.5rem;
  width: 100%;
}

#home .cover-picture__content {
  max-width: 66rem;
  padding: 0 0.625rem;
  margin: 0 auto;
}

#home .article-signature,
#home .article-paragraph,
#home .article-read-also,
#home .article-note,
#home .share-article,
#home .article-wide-image,
#home .stories-thumbnails,
#home .titled-block {
  margin-bottom: 2.5rem;
}

#home .titled-block .small-block-title {
  margin-left: 2.5rem;
}

@media screen and (max-width: 768px) {
  #home .cover-picture {
    margin-bottom: 1.875rem;
  }

  #home .home__left-content {
    width: 100%;
    margin-left: 0;
  }

  #home .home__right-content {
    width: 100%;
  }

  #home .home__right-on-top .home__left-content {
    order: 2;
  }

  #home .home__right-on-top .home__right-content {
    order: 1;
  }

  #home .article-signature,
  #home .article-paragraph,
  #home .article-read-also,
  #home .article-note,
  #home .share-article,
  #home .article-wide-image,
  #home .stories-thumbnails,
  #home .titled-block {
    margin-bottom: 1.875rem;
  }

  #home .titled-block .small-block-title {
    margin-left: 0;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Articles layout
 *
 * * * * * * * * * * * * * * * * * * */

#articles {
  display: grid;
  height: calc(100vh - 65px);
  padding: 0 1.25rem;
  grid-template-rows: 3.75rem 1fr;
  max-width: 66rem;
  margin: 0 auto;
}

#articles > .articles__navigation {
  grid-row: 1;
}

#articles > .articles__content {
  grid-row: 2;
  position: relative;
}

#articles .article-title,
#articles .article-subtitle,
#articles .article-paragraph,
#articles .article-switch-story,
#articles .article-note,
#articles .share-article,
#articles .article-wide-image,
#articles .article-photo-credit,
#articles .article-read-also,
#articles .article-section-title {
  margin-bottom: 2.5rem;
}

#articles .article-paragraph-title {
  margin-bottom: 1.25rem;
}

#articles .article-wide-image {
  width: calc(100% + 3.75rem);
  margin-left: -1.875rem;
}

#articles .article-photo-credit {
  margin-top: -2.5rem;
}

@media screen and (max-width: 768px) {
  #articles {
    padding: 0 0.625rem;
  }

  #articles .article-title,
  #articles .article-subtitle,
  #articles .article-paragraph,
  #articles .article-switch-story,
  #articles .article-note,
  #articles .share-article,
  #articles .article-wide-image,
  #articles .article-photo-credit,
  #articles .article-read-also,
  #articles .article-section-title {
    margin-bottom: 1.875rem;
  }

  #articles .article-paragraph-title {
    margin-bottom: 1rem;
  }

  #articles .article-wide-image {
    width: calc(100% + 2.5rem);
    margin-left: -1.25rem;
  }

  #articles .article-photo-credit {
    margin-top: -1.875rem;
  }
}

@media screen and (max-width: 480px) {
  #articles .article-wide-image {
    width: 100%;
    margin-left: 0;
  }

  #articles .article-photo-credit {
    margin-top: -1.875rem;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Main title
 *
 * * * * * * * * * * * * * * * * * * */

h1.main-title {
  font-family: Libe-Sans-Semicondensed;
  font-weight: 800;
  font-size: 3.25rem;
  line-height: 3.75rem;
  color: #222222;
}

@media screen and (max-width: 768px) {
  h1.main-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }  
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Big page title
 *
 * * * * * * * * * * * * * * * * * * */

h1.big-page-title {
  font-family: Libe-Sans-Semicondensed;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFFFFF;
}

h1.big-page-title * {
  display: block;
}

h1.big-page-title span:nth-child(1) {
  font-size: 4.5rem;
  line-height: 5.625rem;
}

h1.big-page-title span:nth-child(2) {
  font-size: 5.48rem;
  line-height: 5.625rem;
}

@media screen and (max-width: 768px) {
  h1.big-page-title span:nth-child(1) {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  h1.big-page-title span:nth-child(2) {
    font-size: 3.6rem;
    line-height: 3.75rem;
  }
}

@media screen and (max-width: 480px) {
  h1.big-page-title span:nth-child(1) {
    font-size: 2.4rem;
    line-height: 3.125rem;
  }

  h1.big-page-title span:nth-child(2) {
    font-size: 2.9rem;
    line-height: 3.125rem;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Small page title
 *
 * * * * * * * * * * * * * * * * * * */

h1.small-page-title {
  font-family: Libe-Sans-Semicondensed;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 3.125rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  h1.small-page-title {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  h1.small-page-title {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Block title
 *
 * * * * * * * * * * * * * * * * * * */

h3.block-title {
  font-family: Libe-Sans-Semicondensed;
  color: #222222;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.825rem;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Category label
 *
 * * * * * * * * * * * * * * * * * * */

.category-label {
  height: 1.875rem;
  padding: 0 0.625rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Libe-Sans-Semicondensed;
  font-weight: 400;
  letter-spacing: 0.125rem;
  font-size: 1rem;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Share article
 *
 * * * * * * * * * * * * * * * * * * */
.share-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: Libe-Sans-Semicondensed;
  font-weight: 600;
  letter-spacing: .1rem;
  font-size: 1rem;
  color: #FFFFFF;
  text-transform: uppercase;
}

.share-article > * {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.9375rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.share-article__facebook {
  background: #3D68AF;
}

.share-article__twitter {
  background: #02AFEE;
}

.share-article > .share-article__print,
.share-article > .share-article__mail {
  justify-content: center;
  border: 1px solid #DEDEDE;
  padding: calc(0.875rem - 1px);
}

.share-article > * > img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;
}

.share-article > .share-article__print > img {
  width: 1.6875rem;
  height: 1.375rem;
  margin-right: 0;
}

.share-article > .share-article__mail > img {
  width: 1.25rem;
  height: 0.8125rem; 
  margin-right: 0;
}

.share-article > * > * {
  flex-grow: 0;
  flex-shrink: 0;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article signature
 *
 * * * * * * * * * * * * * * * * * * */

.article-signature {
  font-family: Synthese;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #3C3C3C;
}

.article-signature p {
  margin-bottom: 0.625rem;
}

.article-signature p:last-child {
  margin-bottom: 0;
}

.article-signature__author,
.article-signature__author a {
  color: #222222;
  text-decoration: none;
  border-bottom: 1px solid #222222;
}

.article-signature__author:hover,
.article-signature__author:hover a {
  border-bottom: 2px solid #222222;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article title
 *
 * * * * * * * * * * * * * * * * * * */

.article-title {
  font-family: Libe-Sans-Semicondensed;
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 3.75rem;
  color: #222222;
}

@media screen and (max-width: 768px) {
  .article-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article subtitle
 *
 * * * * * * * * * * * * * * * * * * */

.article-subtitle {
  font-family: Synthese;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #222222;
  max-width: 480px;
}

@media screen and (max-width: 768px) {
  .article-subtitle {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article section title
 *
 * * * * * * * * * * * * * * * * * * */

.article-section-title {
  font-family: Libe-Sans-Semicondensed;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #222222;
}

@media screen and (max-width: 768px) {
  .article-section-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article paragraph title
 *
 * * * * * * * * * * * * * * * * * * */

.article-paragraph-title {
  font-family: Georgia;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #222222;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article paragraph title
 *
 * * * * * * * * * * * * * * * * * * */

h4.small-block-title {
  font-family: Synthese;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #222222;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article paragraph
 *
 * * * * * * * * * * * * * * * * * * */

.article-paragraph {
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #222222;
}

.article-paragraph_ending::after {
  content: '';
  display: inline-block;
  width: 23px;
  height: 10px;
  background-image: url('../assets/libe-glyph.svg');
  background-position: center center;
  margin: -2px 0 0 -2px;
  white-space: nowrap;
}

.article-paragraph img {
  width: 100%;
}

.article-paragraph a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #e91845;
}

.article-paragraph a:hover {
  border-bottom-width: 2px;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article image
 *
 * * * * * * * * * * * * * * * * * * */

.article-wide-image {
  width: 100%;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article photo credit
 *
 * * * * * * * * * * * * * * * * * * */

.article-photo-credit {
  font-family: Synthese;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #222222;
}

.article-photo-credit * {
  margin-right: .3125rem;
}

.article-photo-credit *:first-child {
  margin-left: 0;
}

.article-photo-credit__description {
  color: #222222;
}

.article-photo-credit__author {
  color: #888888;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article read also
 *
 * * * * * * * * * * * * * * * * * * */

.article-read-also {
  display: block;
  padding: calc(0.625rem - 2px);
  cursor: pointer;
  border-color: #DADADA;
  border-style: solid;
  border-width: 1px 0;
  text-decoration: none;
}

.article-read-also:hover {
  background: #F9F7F8;
}

.article-read-also__title {
  color: #e91845;
  font-family: Libe-Sans-Semicondensed; 
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.article-read-also__link {
  color: #222222;
  font-family: Synthese;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.article-read-also__link a {
  color: inherit;
  text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article switch story
 *
 * * * * * * * * * * * * * * * * * * */

.article-switch-story {
  display: block;
  padding: calc(0.625rem - 2px);
  border-color: #DADADA;
  border-style: solid;
  border-width: 1px 0;
  text-decoration: none;
}

.article-switch-story__title {
  color: #e91845;
  font-family: Libe-Sans-Semicondensed;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.article-switch-story__content {
  color: #222222;
  font-family: Synthese;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.article-switch-story__content a {
  color: inherit;
  
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article note
 *
 * * * * * * * * * * * * * * * * * * */

.article-note {
  color: #222222;
  font-family: Georgia;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: calc(1.25rem - 1px);
  border-top: 1px solid #222222;
}

.article-note p {
  margin-bottom: 0.625rem;
}

.article-note p:last-child {
  margin-bottom: 0;
}

.article-note a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #e91845;
}

.article-note a:hover {
  border-bottom-width: 2px;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Logo Sixplus
 *
 * * * * * * * * * * * * * * * * * * */

.logo-sixplus {
  width: 100%;
  text-align: center;
}

.logo-sixplus img {
  max-width: 6.25rem;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Cover picture
 *
 * * * * * * * * * * * * * * * * * * */

.cover-picture {
  width: 100%;
  padding-top: 11rem;
  padding-bottom: 11rem;
  background: #FAFAFA;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.cover-picture .category-label {
  background: white;
  color: #E91845;
  box-shadow: 0 3px 2px rgba(34, 34, 34, .5);
  margin-bottom: 1.25rem;
}

.cover-picture h1.main-title {
  max-width: 34rem;
  color: white;
  text-shadow: 0 3px 2px rgba(34, 34, 34, .5);
}

.cover-picture h1.big-page-title {
  z-index: 3;
  position: relative;
  margin-left: 3.75rem;
  text-shadow: 0 3px 2px rgba(34, 34, 34, .5);
}

.cover-picture h1.small-page-title {
  z-index: 2;
  position: relative;
  margin-left: 3.75rem;
  text-shadow: 0 3px 2px rgba(34, 34, 34, .5);
}

.cover-picture__image {
  position: absolute;
  z-index: 1;
  height: 130%;
  transform: translate(50%, -50%);
  top: 50%;
  right: 25%;
}

@media screen and (max-width: 768px) {
  .cover-picture {
    padding-top: 6rem;
    padding-bottom: 8rem;
    margin-bottom: 1.875rem;
  }

  .cover-picture .category-label {
    margin-top: 2.5rem;
  }

  .cover-picture h1.main-title {
    max-width: 22rem;
    color: white;
    text-shadow: 0 3px 2px rgba(34, 34, 34, .5);
  }

  .cover-picture h1.big-page-title,
  .cover-picture h1.small-page-title {
    text-align: center;
    margin-left: 0;
    z-index: 1;
  }

  .cover-picture__image {
    height: 18rem;
    right: 50%;
    top: calc(9rem + 2.5rem + 2.5rem + 3.75rem + 3.75rem - 1rem);
    z-index: 2;
  }
}

@media screen and (max-width: 480px) {
  .cover-picture {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .cover-picture__image {
    height: 16rem;
    top: calc(8rem + 2.5rem + 2.5rem + 3.125rem + 3.125rem - 1rem);
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Titled block
 *
 * * * * * * * * * * * * * * * * * * */

.titled-block h4.small-block-title {
  margin-bottom: 1.25rem;
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Stories thumbnails block
 *
 * * * * * * * * * * * * * * * * * * */

.stories-thumbnails {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stories-thumbnails .story-thumbnail {
  width: calc((100% - 2.5rem) / 3);
  margin: 0 .625rem;
}

.stories-thumbnails:hover .story-thumbnail {
  opacity: .5;
}

.stories-thumbnails:hover .story-thumbnail:hover {
  opacity: 1;
}

.stories-thumbnails .story-thumbnail:first-child {
  margin-left: 0;
}

.stories-thumbnails .story-thumbnail:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .stories-thumbnails {
    flex-direction: column;
  }

  .stories-thumbnails .story-thumbnail,
  .stories-thumbnails .story-thumbnail:first-child,
  .stories-thumbnails .story-thumbnail:last-child {
    width: 100%;
    margin: 0;
    margin-bottom: 0.625rem;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Story thumbnail
 *
 * * * * * * * * * * * * * * * * * * */

.story-thumbnail {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #DEDEDE;
  cursor: pointer;
  transition: opacity 200ms;
}

.story-thumbnail::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  height: 0.3125rem;
  background: #222222;
}

.story-thumbnail__image {
  width: 35%;
  background-size: cover;
  background-position: center center;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}

.story-thumbnail__text {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.625rem;
  padding-bottom: calc(0.625rem + 5px);
  height: 100%;
}

.story-thumbnail__title {
  font-family: Synthese;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #3C3C3C;
  margin-bottom: 1.25rem;
}

.story-thumbnail__quote {
  font-family: Libe-Sans-Semicondensed;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #222222;
}

.story-thumbnail__text-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

button.story-thumbnail__action {
  cursor: pointer;
  width: 100%;
  padding: 0.625rem 1.25rem;
  line-height: 1.25rem;
  font-size: 1rem;
  color: #FFFFFF;
  background: #e91845;
  border: none;
  font-family: Synthese;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .story-thumbnail__image {
    height: 120px;
    min-height: 100%;
  }

  .story-thumbnail__text {
    flex-direction: row;
    align-items: center;
  }

  .story-thumbnail__title {
    width: 100%;
  }

  .story-thumbnail__quote {
    width: 100%;
    margin-bottom: 0;
  }

  .story-thumbnail__text-bottom {
    width: auto;
  }

  button.story-thumbnail__action {
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../assets/go-icon.svg');
  }

  button.story-thumbnail__action span {
    display: none;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Articles navigation
 *
 * * * * * * * * * * * * * * * * * * */

.articles__navigation {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
}

.articles__navigation-spacer {
  width: 0;
  height: 100%;
  display: none;
  transition: margin-left 200ms;
}

.articles__navigation-items {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}

.articles__navigation-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: calc((100% - 2.5rem) / 3);
  margin: 0 .625rem;
  opacity: .3;
  border: 1px solid #dedede;
  transition: opacity 200ms;
}

.articles__navigation-item:first-child {
  margin-left: 0;
}

.articles__navigation-item:last-child {
  margin-right: 0;
}

.articles__navigation-item:hover {
  opacity: .8;
}

.articles__navigation-item.active {
  opacity: 1;
}

.articles__navigation-item-image {
  width: 35%;
  background-size: cover;
  background-position: center;
  height: 3.75rem;
}

.articles__navigation-item-text {
  font-family: Synthese;
  padding: 0 .625rem;
  color: #3C3C3C;
}

.articles__navigation-left-arrow,
.articles__navigation-right-arrow {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 3.75rem;
  cursor: pointer;
}

.articles__navigation-left-arrow {
  left: 0;
}

.articles__navigation-right-arrow {
  right: 0;
}

@media screen and (max-width: 768px) {
  .articles__navigation-spacer {
    width: 0;
    height: 100%;
    display: inline-block;
    transition: margin-left 200ms;
  }

  .articles__navigation-items {
    width: 300%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .articles__navigation-item {
    margin: 0 3.5rem;
    width: calc((100% / 3) - 7rem);
  }

  .articles__navigation-item:first-child {
    margin: 0 3.5rem;
  }

  .articles__navigation-item:last-child {
    margin: 0 3.5rem;
  }

  .articles__navigation-left-arrow,
  .articles__navigation-right-arrow {
    display: flex;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Articles content
 *
 * * * * * * * * * * * * * * * * * * */

.articles__content {
  position: relative;
}

.articles__content > .article {
  position: absolute;
  width: calc(100% - 12.5rem);
  min-width: 70%;
  max-width: 43rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.articles__content > .article:first-child {
  left: 0;
  right: unset;
  margin: 0;
}

.articles__content > .article:last-child {
  right: 0;
  left: unset;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .articles__content > .article {
    width: calc(100% - 2.5rem);
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .articles__content > .article {
    width: 100%;
  }
}

/* * * * * * * * * * * * * * * * * * *
 *
 *  Article
 *
 * * * * * * * * * * * * * * * * * * */

.article {
  background: white;
  height: 100%;
  cursor: pointer;
  border-top: 5px solid rgba(34, 34, 34, .3);
  transition: border-top 200ms;
}

.article.active {
  cursor: default;
  border-top: 5px solid rgba(34, 34, 34, 1);
}

.article__content {
  opacity: .3;
  height: 100%;
  box-shadow: 0 0 1.25rem 0 rgba(34, 34, 34, .2);
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  -webkit-transform: translate3d(0,0,0);
  -webkit-perspective: 1000;
  -webkit-overflow-scrolling: touch;
  transition: opacity 200ms;
}

.article.active > .article__content {
  opacity: 1;
}

.article__slider {
  padding: 3.75rem;
  width: calc(100% + 17px);
}

.article__close {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background-color: transparent;
  background-image: url('../assets/close-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  opacity: .3;
}

.article.active > .article__close {
  opacity: 1;
}

.article__scroll-blocker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.article.active .article__scroll-blocker {
  display: none;
}

.article__scrollbar-hider {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1.0625rem;
  background: white;
}

@media screen and (max-width: 768px) {
  .article__slider {
    padding: 2.5rem;
    padding-top: 3.75rem;
    width: 100%;
  }

  .article__scrollbar-hider {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .article__slider {
    padding: 1.25rem;
    padding-top: 2.5rem;
  }
}
